<div class="card">
  <img [src]="album.images[0].url" class="card-img-top" alt="..." />
  
  <div class="card-body">
    <h5 class="card-title" [routerLink]="['/music/albums']" [queryParams]="{id:album.id}">{{album.name}}</h5>
    <!-- <p class="card-text">
      This is a longer card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer.
    </p> -->
  </div>
</div>
