<p>login works!</p>


Username:
<input type="text" class="form-control" [value]="user.username" #mojInputRef> 
<span>{{mojInputRef.value.length}} / 100</span>
{{user.username}}

<br/>
<br/>

Email:
<input type="text" class="form-control" ngModel (input)=" user.email = $any($event.target).value ">

{{user.email}}


{{ alert() }}

{{user.username}}