<ng-container *ngIf="field">
  <ng-container *ngIf="field.touched || field.dirty ">
      <!-- || formRef.submitted"> -->
    <p class="text-danger" *ngIf="field.hasError('required')">
      This field is required
    </p>
    <p class="text-danger" *ngIf="field.getError('minlength') as error">
      Minimal length is "{{ error.requiredLength }}"
    </p>
  </ng-container>
</ng-container>
