<div class="row">
  <div class="col">
    <app-playlists-list
      [items]="playlists"
      [selectedId]="selectedId"
      (remove)="removePlaylist($event)"
      (selectedIdChange)="selectPlaylist($event)"
    ></app-playlists-list>

    <button class="btn btn-info float-end mt-4" (click)="showCreate()">
      Create New
    </button>
  </div>
  <div class="col">
    <div [ngSwitch]="mode">
      <app-playlist-details
        *ngSwitchDefault
        (edit)="showEditor()"
        (cancel)="selectPlaylist()"
        [playlist]="selected"
      ></app-playlist-details>

      <ng-container *ngSwitchCase="'editor'">
        <app-playlist-editor
          *ngIf="selected"
          (cancel)="showDetails()"
          (save)="savePlaylist($event)"
          [playlist]="selected"
        ></app-playlist-editor>
      </ng-container>

      <app-playlist-editor
        *ngSwitchCase="'create'"
        (cancel)="showDetails()"
        (save)="addPlaylist($event)"
      ></app-playlist-editor>
    </div>
  </div>
</div>
